# Python Version
# Python 3.11.x

numpy
pandas
scikit-learn
joblib
faiss-cpu
PyMuPDF
pytesseract
Pillow
spacy
pyttsx3
flask
flask-sqlalchemy
gunicorn
python-docx
matplotlib
SpeechRecognition
gTTS
sentence-transformers