{% extends 'base.html' %}
{% block body %}
<div class="page-container">
    <div class="card">
        <h1>Dashbord</h1>
        <div class="stats-grid">
            <div class="stat-box">
                <div class="stat-number">{{ stats.documents }}</div>
                <div class="stat-label">Documents</div>
            </div>
            <div class="'stat-box">
                <div class="stat-number">{{ stats.messages }}</div>
                <div class="stat-label">Messages</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}